name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test-check:
    name: runner / languagetool (github-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-check
          level: info

  test-pr-check:
    if: github.event_name == 'pull_request'
    name: runner / languagetool (github-pr-check)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          level: info

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / languagetool (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          filter_files: all
          level: error
          patterns: "**.md"
          api_endpoint: ${{ secrets.LANGTOOL_HTTP_URI }}
          username: ${{ secrets.LANGTOOL_USERNAME }}
          api_key: ${{ secrets.LANGTOOL_API_KEY }}
